footer {
    background-color: $cinza;
    color: #fff !important;

    a {
		color: #fff;
		text-decoration: none;
		
		&:hover {
			color: #fff;
			text-decoration: none;
		}
	}
	.co

    .img-rd {
        margin-right: 1rem !important;
    }
    .mt-13{
        margin-top: 1.9rem;
    }
    .img-wpp{
        position: fixed;
        bottom: 20px;
        right: 20px;
        z-index: 999999999 ;
        cursor: pointer;
    }
}

@media screen and (max-width: 350px) {
    .img-wpp {
        bottom: 5px;
        right: 5px;

        img {
            width: 70px;
        }
    }
    
}